<section class="header">
    <a class="logo" (click)="navigateToHome()">Fashion</a>
    <div>
        <ul class="navbar">
            <li><a routerLink="/products/men" [routerLinkActive]="['active']">Men</a></li>
            <li><a routerLink="/products/women" [routerLinkActive]="['active']">Women</a></li>
            <li><a routerLink="/products/kids" [routerLinkActive]="['active']">Kids</a></li>
            <li><a routerLink="/products/home-&-living" [routerLinkActive]="['active']">Home & Living</a></li>
            <li><a routerLink="/products/beauty" [routerLinkActive]="['active']">Beauty</a></li>
        </ul>
    </div>
    <div>
        <button type="button" class="button" (click)="navigateToLogin()">Login</button>
        <button type="button" class="button" (click)="navigateToSignUp()">Sign Up</button>
    </div>
    <a class="cart" (click)="navigateToShoppingCart()"><i class="fa-solid fa-cart-shopping"></i><span>Cart</span></a>
</section>