<section class="header">
    <a class="logo" href="#">on</a>
    <div>
        <ul class="navbar">
            <li><a class="active" href="#">Men</a></li>
            <li><a href="#">Women</a></li>
            <li><a href="#">Kids</a></li>
            <li><a href="#">Home & Living</a></li>
            <li><a href="#">Beauty</a></li>
        </ul>
    </div>
    <div>
        <button type="button" class="button" (click)="navigateToLogin()">Login</button>
        <button type="button" class="button" (click)="showCard()">Sign Up</button>
    </div>
    <a class="cart" href="#"><i class="fa-solid fa-cart-shopping"></i><span>Cart</span></a>
</section>