.card {
    width: 220px;
    height: 150px;
    background-color: #fff;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);

}

ul li {
    list-style: none;
    line-height: 2.6;
    padding-left: 10px;
    border-bottom: 1px solid lightgray;
    font-size: 14px;
}

ul li:nth-last-of-type(1) {
    border: none;
}

ul li span {
    padding: 0px 14px;
    font-size: 15px;
    color: #088178;
    cursor: pointer;
    font-weight: 600;
}