<div class="container">
    <form>
        <div class="row">
            <h4>Shipping Details</h4>
            <div class="input-group input-group-icon">
                <input type="text" placeholder="Address">
                <div class="input-icon">
                    <i class="fa-solid fa-location-dot"></i>
                </div>
            </div>
            <div class="input-group input-group-icon">
                <input type="text" placeholder="Phone">
                <div class="input-icon">
                    <i class="fa-solid fa-phone"></i>
                </div>
            </div>
            <div class="input-group input-group-icon">
                <input type="text" placeholder="Email">
                <div class="input-icon">
                    <i class="fa-solid fa-envelope"></i>
                </div>
            </div>
            <div class="input-group button">
                <span>Continue</span>
            </div>
        </div>
    </form>
</div>