<div class="container">
    <div class="left">
        <h3>Shipping Address</h3>
        <div class="shipping-info">
            <p>534 W 19th St Costa Mesa California</p>
        </div>
        <div class="cart-items">
            <h3>Your Cart Items</h3>
            <table class="customers">
                <tr>
                    <th>Image</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
                <tr>
                    <td><img src="../../../../assets/grey_shirt.jpg" width="40px"></td>
                    <td>Shirt</td>
                    <td>233</td>
                    <td>2</td>
                    <td>989</td>
                </tr>
                <tr>
                    <td><img src="../../../../assets/grey_shirt.jpg" width="40px"></td>
                    <td>Shirt</td>
                    <td>233</td>
                    <td>1</td>
                    <td>989</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="right">
        <div class="order-summary">
            <h3>Order Summary</h3>
            <table class="summary">
                <tr>
                    <th>Subtotal</th>
                    <td>1100</td>
                </tr>
                <tr>
                    <th>Shipping</th>
                    <td>50</td>
                </tr>
                <tr>
                    <th>Estimated Tax</th>
                    <td>110</td>
                </tr>
                <tr class="total">
                    <th>Total</th>
                    <td>9777</td>
                </tr>
            </table>
            <button (click)="navigateToPayment()">Proceed To Payment</button>
        </div>
    </div>
</div>