<div class="prodetails sectionp1">
    <div class="single-pro-image">
        <img class="mainImg" src="../../../../assets/grey_shirt.jpg" width="100%">
    </div>
    <div class="single-pro-details">
        <h4>Gildan Men's Crew T-Shirts, Multipack, Style G1100</h4>
        <h2>&#8377; 132</h2>
        <select>
            <option value="">Select Size</option>
            <option value="">S</option>
            <option value="">M</option>
            <option value="">L</option>
            <option value="">XL</option>
            <option value="">XXL</option>
        </select>
        <div class="items-number">
            <label>Number of items: </label>
            <input type="number" value="1">
        </div>
        <h4>Product Details</h4>
        <ul>
            <li>Soft, breathable cotton</li>
            <li>Moisture wicking technology keeps you cool and dry</li>
            <li>Tag-free to prevent irritation</li>
            <li>Classic length for easy tucking</li>
            <li>Durable stitching</li>
            <li>Lay-flat collar</li>
        </ul>
        <div class="buttons">
            <button class="btn1"><i class="fa-solid fa-bag-shopping"></i> ADD TO CART</button>
            <button class="btn2"><i class="fa-solid fa-heart"></i> WISHLIST</button>
        </div>
    </div>
</div>