<div class="wrapper">
    <h2>Sign Up</h2>
    <form [formGroup]="signUpForm">
        <div class="input-group">
            <div class="input-box">
                <input type="text"
                    [ngClass]="{'is-invalid is-invalid-icon' : submitted && signUpForm.controls['name'].errors}"
                    formControlName="name" placeholder="Full Name" class="name">
                <i class="fa fa-user icon"></i>
            </div>
        </div>
        <div class="input-group">
            <div class="input-box">
                <input type="email"
                    [ngClass]="{'is-invalid is-invalid-icon' : submitted && signUpForm.controls['email'].errors}"
                    formControlName="email" placeholder="Email Adress" class="name">
                <i class="fa fa-envelope icon"></i>
            </div>
        </div>
        <div class="input-group">
            <div class="input-box">
                <input type="password"
                    [ngClass]="{'is-invalid is-invalid-icon' : submitted && signUpForm.controls['password'].errors}"
                    formControlName="password" placeholder="Enter Password" class="name">
                <i class="fa-solid fa-lock icon"></i>
            </div>
        </div>
        <div class="input-group">
            <div class="input-box">
                <input type="password"
                    [ngClass]="{'is-invalid is-invalid-icon' : submitted && signUpForm.controls['confirmPassword'].errors}"
                    formControlName="confirmPassword" placeholder="Enter Confirm Password" class="name">
                <i class="fa fa-lock icon"></i>
            </div>
        </div>
        <div class="input-group">
            <label class="terms">By registering, you agree to the <strong>privacy policy</strong></label>
        </div>
        <div class="input-group">
            <div class="input-box">
                <button type="submit" (click)="saveUserData()">Sign Up</button>
            </div>
        </div>
        <div class="input-group link">
            I'm already a member! <a (click)="navigateToLogin()">Login</a>
        </div>
    </form>
</div>