<div class="wrapper">
    <h2>Sign Up</h2>
    <form>
        <div class="input-group">
            <div class="input-box">
                <input type="text" placeholder="Full Name" class="name">
                <i class="fa fa-user icon"></i>
            </div>
        </div>
        <div class="input-group">
            <div class="input-box">
                <input type="email" placeholder="Email Adress" class="name">
                <i class="fa fa-envelope icon"></i>
            </div>
        </div>
        <div class="input-group">
            <div class="input-box">
                <input type="password" placeholder="Enter Password" class="name">
                <i class="fa-solid fa-lock icon"></i>
            </div>
        </div>
        <div class="input-group">
            <div class="input-box">
                <input type="password" placeholder="Enter Confirm Password" class="name">
                <i class="fa fa-lock icon"></i>
            </div>
        </div>
        <div class="input-group">
            <input type="checkbox" class="checkbox">
            <label class="terms">I agree with the <strong>Terms and Conditions</strong></label>
        </div>
        <div class="input-group">
            <div class="input-box">
                <button type="submit">Sign Up</button>
            </div>
        </div>
        <div class="input-group link">
            I'm already a member! <a (click)="navigateToLogin()">Login</a>
        </div>
    </form>
</div>